<div id="main">
    <div>
        <h1>Contact & Personal information</h1>
        <ul>
            <li>Name: Arvin Tarihi</li>
            <li>Address: Gjuterigatan 26, Jönköping</li>
            <li>Phone Number: 070-707 07 07</li>
            <li>Discord id: taar18le</li>
        </ul>
    </div>
</div>
