<div id="main">
    <div id="entire_page" class="container">
        <h1 id="cv_h1" >Arvin Tarihi CV</h1>
    <section class="section_class">
    <div class="accordion">
    <input type="checkbox" id="accordion-2" name="accordion-radio" hidden>
    <label class="accordion-header" for="accordion-2" >
    <i class="icon icon-arrow-right mr-1"></i><h2>Education</h2></label>
    <div class="accordion-body">
    <div class="column col-6 col-xl-12">
     <ul>
     <li>Bachlor, Embedded systems: Ongoing</li>
     <li>Highschool, Technology Programme</li>
     </ul>
    </div>
    </div>
    </div>
    </section>
    <br>
    <section class="section_class">
    <div class="accordion">
    <input type="checkbox" id="accordion-3" name="accordion-checkbox" hidden>
    <label class="accordion-header" for="accordion-3" >
    <i class="icon icon-arrow-right mr-1"></i><h2>Work experience</h2></label>
    <div class="accordion-body">
    <div class="column col-6 col-xl-12">
     <ul>
      <li>Consultant, Embedded programmer</li>  
      <li>McDonalds, Manager and shift</li>
     </ul>   
    </div>
    </div>
    </div>
    </section>
    <br>
    
    <section class="section_class">
    <div class="accordion">
    <input type="checkbox" id="accordion-4" name="accordion-checkbox" hidden>
    <label class="accordion-header" for="accordion-4" >
    <i class="icon icon-arrow-right mr-1"></i><h2>Computer Skills</h2></label>
    <div class="accordion-body">
    <div class="column col-6 col-xl-12">
        <h3>Program Language</h3>
        <ul class="ul_CompSkills">
            <li>C</li>
            <li>C++</li>
            <li>Java</li>
            <li>VHDL</li>
            <li>kotlin</li>
        </ul>
        <h3>Microcontrollers</h3>
        <ul class="ul_CompSkills">
        <li>Microchip pic18</li>
        <li>Aurduino</li>
        <li>STM32 Nucleo</li>
        <li>Raspberry pi (microprocessor)</li>
        </ul>
        <h3>Networking</h3>
        <ul class="ul_CompSkills">
            <li>CCNA1, CCNA2, CCNA3, CCNA4</li>
        </ul>
        </div>
        </section>
        <br>
        <section class="section_class">
        <div class="accordion">
        <input type="checkbox" id="accordion-5" name="accordion-checkbox" hidden>
        <label class="accordion-header" for="accordion-5" >
        <i class="icon icon-arrow-right mr-1"></i><h2>Languages</h2></label>
        <div class="accordion-body">
        <div class="column col-6 col-xl-12">
        <ul>
            <li>Swedish: Fluent in writing & speach</li>
            <li>English: Fluent in writing & speach</li>
            <li>Iranian: Basic in speach</li>
            <li>Korean: Basic in writing & speach, TOPIK 1 level 1</li>
        </ul>
        </div>
        </div>
        </div>
        </section>
        <br>
        <section class="section_class">
        <div class="accordion">
        <input type="checkbox" id="accordion-6" name="accordion-checkbox" hidden>
        <label class="accordion-header" for="accordion-6" >
        <i class="icon icon-arrow-right mr-1"></i><h2>Others</h2></label>
        <div class="accordion-body">
        <div class="column col-6 col-xl-12"> 
        <h3>Hobby</h3>
        <ul>
        <li>Weight Training</li>
        <li>Learning Korean</li>
        </ul>
        </div>
        </div>
        </div>
        </section>
    
    </div>

</div>
