<div id="main">
    <div>
        <h1>Welcome</h1>
        <div>
            <p>On this webside you will get to learn a few things <a href="/about">about</a> me.</p>
            <p>You will be able to read my <a href="/cv">CV</a>, 
            a few of my <a href="/projects">projects</a>
             i've done and my <a href="/contact"> contact information</a>.</p>
        </div>
    </div>
</div>
