<div id="main">
    <div>
        <h1>My Projects</h1>
            <div>
            {{#if databaseError}}
                <div>
                    An error has occurred with the database: <br/>
                    {{theError}}
                </div>
            {{else}}
            <ul class="project_container">
                {{#each projects}}
                    <li class="project_item"><a href="/projects/{{projectID}}"> {{projectName}} </a></li>
                {{/each}}
            {{/if}}
            </ul>
        </div>
    </div>
</div>
