<div id="main">
    <div>
        <h1>My Projects</h1>
        <div>
        <ul class="project_container">
        {{#each listProjects}}
            <li class="project_item"><a href="/projects/{{id}}"> {{project}} </a></li>
        {{/each}}
        
        </ul>
        </div>
    </div>
</div>
